.api_menu_mobile{    
    width:250px;
    z-index:99999 !important;
    position:fixed;
    display:none;
}
#api_menu_mobile_blocker {
    display:none;
    background: rgba(3,2,1,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99998;
}

.api_menu_mobile .af_header_menu_yamaha_web, .api_menu_mobile .af_header_menu_yamaha_fluid{
    background-color: #fff !important;
}
.api_menu_mobile .navbar-default .api_menu_mobile .navbar-nav>.api_menu_mobile .active>a, .api_menu_mobile .navbar-default .api_menu_mobile .navbar-nav>.api_menu_mobile .active>a:hover, .api_menu_mobile .navbar-default .api_menu_mobile .navbar-nav>.api_menu_mobile .active>a:focus {
    background-color: #fff !important;
}
.api_menu_mobile .navbar-default .api_menu_mobile .navbar-nav>.api_menu_mobile .open>a, .api_menu_mobile .navbar-default .api_menu_mobile .navbar-nav>.api_menu_mobile .open>a:hover, .api_menu_mobile .navbar-default .api_menu_mobile .navbar-nav>.api_menu_mobile .open>a:focus {
    background-color: #fff !important;
}

.api_menu_mobile .mm-list>li>span:hover{
    color:red !important;    
}
.api_menu_mobile .af_header_menu_yamaha_current{
    color:red !important;
}
.api_menu_mobile .mm-list a:hover{
    color:red !important;
}
.api_menu_mobile .api_menu_yamaha_font_en{
	font-family: 'Oswald','Roboto Condensed','Roboto',sans-serif; 
}
.api_menu_mobile .api_menu_yamaha_font_kh{
	font-family: 'Koulen', cursive;
}
form button.api_menu_mobile .btn {
    margin: 0px !important;
}
.api_menu_mobile .navbar-brand{
    height:40px;
}
.api_menu_mobile .api_footer{
    position:relative;
    z-index:10000;
}
#page-wrapper{
    padding:0px !important;
    margin:0px !important;
}
/*
.api_menu_mobile .af_header_menu_yamaha_toggle_icon{
    background-image:url(imgs/af_header_menu_yamaha_toggle_icon.api_menu_mobile .png);
    background-repeat:no-repeat;
    border-radius:4px;       
    width:40px;
    height:35px;    
}
*/
.api_menu_mobile .af_header_menu_yamaha_lg{
    margin-top:4px;
    margin-left:0px;
}
@media screen and (min-width: 100px) and (max-width:400px) {
.api_menu_mobile .af_header_menu_yamaha_lg{
    display:block;
    margin-top: -35px;
    position:relative;
    z-index:999;
}
}
@media screen and (min-width: 400px) and (max-width:767px) {
.api_menu_mobile .af_header_menu_yamaha_lg{
    display:block;
    margin-top: -35px;
}
}
@media screen and (min-width: 768px){
.api_menu_mobile .af_header_menu_yamaha_lg{
    display:none;
    margin-top: -35px;
}
}
}
@media screen and (min-width: 768px){
.api_menu_mobile .af_header_menu_yamaha_lg{
    display:none;
}
}

.api_menu_mobile .mm-search{
    display:none;
}
.api_menu_mobile .mm-search-2{
    padding-left:10px;
    padding-right:10px;
}
.mm-menu, .mm-hassearch> .mm-panel{
    padding-top:10px !important;
}
.mm-menu .mm-search-2 input {
    background: rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.6);
}

.mm-menu .mm-search-2 input {
    border: 1px solid #ccc;
    background: #dcdcdc !important;
    color: rgba(0,0,0,0.7)!important;
}

.api_menu_mobile .mm-search-2 input {
    border: 0;
    border-radius: 30px;
    font: inherit;
    font-size: 14px;
    line-height: 30px;
    outline: 0;
    display: block;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0 10px;
}

.api_menu_mobile .mm-search-2, .api_menu_mobile .mm-search-2 input {
    box-sizing: border-box;
}
.api_menu_mobile .camera_wrap{
    margin-bottom:0px !important;
}
#page-wrapper{
    min-height:0px !important;
}
.api_menu_mobile .overlay1, .api_menu_mobile .overlay2{
    display:none;
}
@media screen and (min-width: 100px) and (max-width:767px) {
#header_shadow{
    margin-top:29px;
}
}
@media screen and (min-width: 992px){
#header_shadow{
    margin-top:0px;
}
}

@media screen and (min-width: 100px) and (max-width:767px) {
.api_menu_mobile .af_header_menu_yamaha_logo{
    display:none;
}
.api_menu_mobile .api_function_header_menu{
    display:none;
}
.api_menu_mobile .af_header_menu_yamaha_logo_mobile{
    display:'';
}
}
@media screen and (min-width: 768px){
.api_menu_mobile .af_header_menu_yamaha_logo{
    display:'';
}
.api_menu_mobile .api_function_header_menu{
    display:'';
}
.api_menu_mobile .af_header_menu_yamaha_logo_mobile{
    display:none;
}
}
.api_menu_mobile .api_function_header_menu{
    position:relative;
    width:100%;    
}
@media screen and (min-width: 100px) and (max-width:767px) {
#page-wrapper{
    display:'';
    max-height: 1px;
}
}
@media screen and (min-width: 768px){
#page-wrapper{
    display:none;
}
}

@media screen and (min-width: 100px) and (max-width:767px) {
.api_menu_mobile .af_header_menu_yamaha_logo{
    display:none;
}
.api_menu_mobile .api_function_header_menu{
    display:none;
}
.api_menu_mobile .af_header_menu_yamaha_logo_mobile{
    display:'';
}
}
@media screen and (min-width: 768px){
.api_menu_mobile .af_header_menu_yamaha_logo{
    display:'';
}
.api_menu_mobile .api_function_header_menu{
    display:'';
}
.api_menu_mobile .af_header_menu_yamaha_logo_mobile{
    display:none;
}
}
.api_menu_mobile .downarrowclass{
    display:none;
}
.api_menu_mobile .navbar{
    min-height:25px !important;
    background-color:transparent !important;
    border:0px !important;    
}
.api_menu_mobile .navbar-default{
    height:25px !important;
    background-color:transparent !important;
    border:0px !important;    
}
.api_menu_mobile .af_header_menu_yamaha_fluid{
    background-color:transparent !important;
    border:0px !important;    
}

.api_menu_mobile .downarrowclass{
    display:none;
}
.api_menu_mobile .ddsmoothmenu{
    max-height: none !important;
    overflow:visible !important;
}

::-webkit-scrollbar{width:7px;background-color:white}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.3);border-radius:1px}
::-webkit-scrollbar-thumb{border-radius:1px;-webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.5);background-color:silver}

.api_menu_mobile .menu_panel a {
    padding-top: 12px !important;
    padding-left: 35px !important;
    text-transform:capitalize;
}

.api_menu_mobile .menu_panel_sub a {
    padding-top: 12px !important;
    padding-left: 65px !important;
    background: url(imgs/yamaha_sup_menu_arrow.gif) no-repeat 50px 16px;
    text-transform:capitalize;
}



