/* Optional Light Navigation 01b801
=================================================================== */
#content, #content:before { border-left: none !important; }
#content.sidebar-minified {
    border-left: 40px solid #6a5748 !important;
}
.navbar, a.navbar-brand span, .header-nav a.btn, .header-nav a.btn.account {
    background: #6a5748;
    color: #FFF !important;
}
.header-nav a.btn, .navbar #search input, .navbar #search i, .header-nav a.btn.cart {
    background: #a18670;
}
.bnav  {
    background: #6a5748;
    color: #282b2e;
}
footer  {
    background: #6a5748;
    color: #fff;
}
.navbar #search {
    background: #a18670;
    border: 1px solid #6a5748;
}
.header-nav a.btn{
    border-left: 1px solid #6a5748;
}

.header-nav a.btn:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: #a18670;
}
a#main-menu-toggle {
  background: #6a5748;
}
a#main-menu-toggle.close {
  opacity: 1;
  background: #282b2e !important;
  padding: 10px 13px !important;
}
a#main-menu-act {
  border-bottom: 1px solid #a18670;
}

a#main-menu-act i {
    background: #a18670;
    color: #fff;
    border-bottom: 1px solid #a18670;
}
a#main-menu-act i:hover {
    background: #a18670;
    color: #FFF;
}
a#main-menu-min i:hover {
  background: #a18670;
  color: #6f7880;
}
#sidebar-left {
    background: none; 
}
.lt td.sidebar-con { 
    background-color: #6a5748;
}
.nav.main-menu > li:first-child > a {
    border-top: 1px solid #a18670;
}
.nav.main-menu > li {
  margin-top: -1px;
  border-bottom: 1px solid #a18670;
}
.nav.main-menu > li > a,
.nav.main-menu > li > ul > li > a,
.nav.main-menu > li > ul > li > ul > li > a,
.nav.main-menu > li > ul > li > ul > li > ul > li > a {
  color: #ffffff;
  border-bottom: 1px solid #a18670;
  background: #6a5748;
}
.nav.main-menu > li > a .chevron,
.nav.main-menu > li > ul > li > a .chevron,
.nav.main-menu > li > ul > li > ul > li > a .chevron,
.nav.main-menu > li > ul > li > ul > li > ul > li > a .chevron {
  color: #ffffff !important;
}
.nav.main-menu > li > a .chevron.closed:after,
.nav.main-menu > li > ul > li > a .chevron.closed:after,
.nav.main-menu > li > ul > li > ul > li > a .chevron.closed:after,
.nav.main-menu > li > ul > li > ul > li > ul > li > a .chevron.closed:after {
  color: #ffffff !important;
}
.nav.main-menu > li > a > i,
.nav.main-menu > li > ul > li > a > i {
  border-right: none;
}
.nav.main-menu > li > ul > li > a {
  background: #6a5748;
}
.nav.main-menu > li > ul > li > ul > li > a {
  background: #6a5748;
}
.nav.main-menu > li > ul > li > ul > li > ul > li > a {
  background: #6a5748;
}
.nav.main-menu > li > a:hover,
.nav.main-menu > li > ul > li > a:hover,
.nav.main-menu > li > ul > li > ul > li > a:hover,
.nav.main-menu > li > ul > li > ul > li > ul > li > a:hover {
  background: #a18670;
  border-bottom: 1px solid #a18670;
  box-shadow: none;
  border-radius: 0px;
}
.nav.main-menu > li > a:hover > i,
.nav.main-menu > li > ul > li > a:hover > i,
.nav.main-menu > li > ul > li > ul > li > a:hover > i,
.nav.main-menu > li > ul > li > ul > li > ul > li > a:hover > i {
  border-color: #a18670;
}
.nav.main-menu > li > a:hover,
.nav.main-menu > li > ul > li > a:hover {
  background: #a18670;
  box-shadow: none;
  border-radius: 0px;
}
.nav.main-menu > li > ul > li.active > a,
.nav.main-menu > li > ul > li > ul > li.active > a,
.nav.main-menu > li > ul > li > ul > li > ul > li.active > a {
  background: #a18670;
}
.nav.main-menu > li.active > a:hover {
  background: #a18670;
  border: none;
  color: white;
}
.nav.main-menu > li.active > ul {
  background: #a18670;
}
#sidebar-left.minified .sidebar-nav li {
  border: 0;
}
#sidebar-left.minified .sidebar-nav li i {
  border-bottom: 1px solid #a18670;
}
#sidebar-left.minified .sidebar-nav li ul i {
  border-bottom: 0;
}
#sidebar-left.minified .sidebar-nav li > ul > li > a > i {
  border-right: 0;
}
#sidebar-left.minified .sidebar-nav > ul > li > a .text {
  background: #6a5748;
  border: 1px solid #39B3D3;
}
#sidebar-left.minified .sidebar-nav > ul > li:hover > a .text {
  background: #a18670;
  border-color: #a18670;
  margin-top: -1px;
}
.nav.main-menu > li.active > a, .nav.main-menu > li.active > a > i, #sidebar-left.minified .sidebar-nav > ul > li.active > a .text {
    background: #a18670;
    color: white;
    border-color: #a18670;
}
#sidebar-left.minified .sidebar-nav > ul > li:hover > ul {
  top: 38px;
  background: #6a5748;
  border: 1px solid #a18670;
  border-bottom: none;
}
.nav.main-menu > li > ul > li.active > a,
.nav.main-menu > li > ul > li > ul > li.active > a,
.nav.main-menu > li > ul > li > ul > li > ul > li.active > a {
    background: #a18670;
    border-color: #a18670;
}
