<h3>{logo}</h3><h4>Sale Details</h4><p>
    Hello {contact_person} {company},</p><p>
    Please find the attachment for your order ({order_id})
    details. Please visit {order_link} for order details and {site_link} to manage your orders.</p><p>
    Best regards,
    <br>
    {site_name}</p>
